[Unit]
Description=Planted Aquarium IO Controller
After=domoticz.service

[Service]
Type=forking
User=root
Group=root
ExecStart=/root/bbnode-aquarium/bin/aquarium.js
PIDFile=/var/run/aquarium.pid
Restart=always

[Install]
WantedBy=multi-user.target
