[Unit]
Description=domoticz service
After=network.target

[Service]
Type=simple
User=domoticz
Group=domoticz
SuccessExitStatus=3
ExecStart=/home/domoticz/dev-domoticz/domoticz -www 8081 -loglevel=1 -syslog
StandardOutput=null

[Install]
WantedBy=multi-user.target
