[Unit]
Description=Planted Aquarium FAN Controller
After=domoticz.service

[Service]
Type=forking
User=root
Group=root
PIDFile=/var/run/fan-controller.pid
ExecStart=/root/bin/fan-controller.js
Restart=always

[Install]
WantedBy=multi-user.target
