[Unit]
Description=Planted Aquarium FAN Controller
After=domoticz.service

[Service]
Type=forking
User=root
Group=root
ExecStart=/root/bbnode-aquarium/bin/fan.js
PIDFile=/var/run/fan.pid
Restart=always

[Install]
WantedBy=multi-user.target
