[Unit]
Description=Planted Aquarium Light Controller
After=domoticz.service

[Service]
Type=forking
User=root
Group=root
PIDFile=/var/run/light.pid
ExecStart=/root/bbnode-aquarium/bin/light.js
Restart=always

[Install]
WantedBy=multi-user.target
