[Unit]
Description=set time from external rtc
Before=syslog.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/local/sbin/setup-rtc.sh
StandardOutput=null

[Install]
WantedBy=multi-user.target
